.header_social {
    display: flex;
    
    align-items: center;
    gap: 1rem;
    /* position: absolute;
    left: 0;
    bottom: 3rem; */
}

@media (max-width: 640px) {
    .header_social {
        display: none;
    }
}

